<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple nodejs app</title>
</head>
<body>
    <form action="/index" method="GET">
        <input type="text" name = "person" placeholder="Person's name...">
        <input type="submit" value="Search">
    </form>
</body>
</html>